<div class="ot-pc-footer-logo">
  <a href="https://www.onetrust.com/products/cookie-consent/"
  target="_blank" rel="noopener noreferrer"
  aria-label="Powered by OneTrust Opens in a new Tab">
  <img alt="Powered by Onetrust"
  src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
  title="Tab">
  </a>
</div>
<span class="ot-scrn-rdr" aria-atomic="true"
aria-live="polite">Your Privacy [`dialog closed`]
</span>
<iframe class="ot-text-resize" sandbox="allow-same-origin" title="onetrust-text-resize" style="position: absolute; top: -50000px; width: 100em;" aria-hidden="true">
<div id="intercom-css-container">
  <style data-emotion="intercom-with-namespace-global" data-s="">
  </style>
  <style data-emotion="intercom-with-namespace" data-s="">
  </style>
</div>
<div id="batBeacon751572410094" style="width: 0px; height: 0px; display: none; visibility: hidden;"><img id="batBeacon508292072342" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=343124951&amp;tm=gtm002&amp;Ver=2&amp;mid=ce5e5110-1561-4db7-a961-4a8024d19e92&amp;bo=1&amp;sid=48a665c0a4e111ef959a117a6f525aee&amp;vid=48a66e20a4e111efbdc1595d564c4faa&amp;vids=1&amp;msclkid=N&amp;pi=918639831&amp;lg=en-US&amp;sw=1440&amp;sh=900&amp;sc=30&amp;tl=Cloud%20Application%20Platform%20%7C%20Heroku&amp;p=https%3A%2F%2Fwww.heroku.com%2F&amp;r=https%3A%2F%2Frubyonrails.org%2F&amp;lt=3097&amp;evt=pageLoad&amp;sv=1&amp;cdb=AQED&amp;rn=447435" style="width: 0px; height: 0px; display: none; visibility: hidden;">
</div>
<iframe allow="join-ad-interest-group" data-tagging-id="AW-788919195" data-load-time="1731846849058" height="0" width="0" src="https://td.doubleclick.net/td/rul/788919195?random=1731846849058&amp;cv=11&amp;fst=1731846849058&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be4bc0v892957034z8551874za201zb551874&amp;gcd=13n3n3n3n5l1&amp;dma=0&amp;tag_exp=101925629~102067555~102067808~102077855&amp;u_w=1440&amp;u_h=900&amp;url=https%3A%2F%2Fwww.airbnb.com%2F&amp;ref=https%3A%2F%2Frubyonrails.org%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Airbnb%20%7C%20Vacation%20rentals%2C%20cabins%2C%20beach%20houses%2C%20%26%20more&amp;npa=0&amp;pscdl=noapi&amp;auid=169258401.1731846849&amp;uaa=arm&amp;uab=64&amp;uafvl=Google%2520Chrome%3B131.0.6778.69%7CChromium%3B131.0.6778.69%7CNot_A%2520Brand%3B24.0.0.0&amp;uamb=0&amp;uam=&amp;uap=macOS&amp;uapv=15.1.0&amp;uaw=0&amp;fledge=1&amp;data=hrental_pagetype%3Dsearchresults%3Bhrental_startdate%3D%3Bhrental_enddate%3D%3Bhas_account%3Dfalse%3Bdynx_itemid%3D%3Bdynx_pagetype%3Dp2%3Baudience_type%3Dvisitor%3Bnum_of_guests%3D1%3Bads_data_redaction%3Dfalse" style="display: none; visibility: hidden;">
</iframe>
<div id="scroll-hit-tester-80" style="top: 80px; position: absolute; height: 1px; width: 1px; z-index: -1; contain: strict;">
</div>
<browser-font-size style="position: fixed; left: 0px; top: 0px; width: 0px; height: 0px; overflow: hidden; pointer-events: none; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%);">
</browser-font-size>
