<div id="goog-gt-tt" class="skiptranslate"
style="border-radius: 12px; margin: 0 0 0 -23px; padding: 0; font-family: 'Google Sans', Arial, sans-serif;"
data-id="">
  <div id="goog-gt-vt" class="">
    <div class="">
      <img src="https://fonts.gstatic.com/s/i/productlogos/translate/v14/24px.svg"
      width="24" height="24" alt=""></div>
      <div class="">
        <div class="" dir="ltr">Original text</div>
        <div id="goog-gt-original-text" class=""></div>
      </div>
      <div class="ltr">
        <div class="ltr" dir="ltr">
          <div class="">Rate this translation</div>
          <div class="">Your feedback will be used to help improve Google Translate</div>
        </div>
        <div class="ltr">
          <button id="goog-gt-thumbUpButton"
          type="button" class="" title="Good translation"
          aria-label="Good translation"
          aria-pressed="false">
          <span id="goog-gt-thumbUpIcon">
            <svg width="24" height="24"
            viewBox="0 0 24 24" focusable="false"
            class="">
            <path d=""></path>
            </svg>
          </span>
        </button>
        <button id="goog-gt-thumbDownButton"
          type="button" class=""
          title="Poor translation"
          aria-label="Poor translation"
          aria-pressed="false">
          <span id="goog-gt-thumbDownIcon">
            <svg width="24" height="24"
            viewBox="0 0 24 24" focusable="false"
            class="">
            <path d=""></path>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div id="goog-gt-votingHiddenPane"
  class="">
</div>
