<footer class="text-center my-12">
  ❤️ Made with love by
  <a href="https://twitter.com/robzolkos" target="_blank" class="text-amber-600 hover:text-amber-700">Rob Zolkos</a>
  and
  <a href="https://github.com/robzolkos/hotwirenativedirectory/graphs/contributors" target="_blank" class="text-amber-600 hover:text-amber-700">contributors</a>
  on
  <a href="https://github.com/robzolkos/hotwirenativedirectory/graphs/contributors" target="_blank" class="text-amber-600 hover:text-amber-700">Github</a>
  <span class="Text_text__I2GnQ" data-align="center" data-size="s" data-weight="auto">
    <span class="Footer_date__d0nD9">© 2024 ByteSlinger.</span>
    <a class="Link_link__1F_mp Footer_link__2Y2qR"
    data-secondary="true" href="/humans.txt" target="_self">
    Crafted by yours truly</a>
  </span>
</footer>
