<footer class="site-footer" role="contentinfo">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="flex-row">
					<!-- //Mobile -->
					<div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
						<div class="lets-work">
							<div class="lw-sub-title">Let's Work Together!</div>
							<p>Need a quote on a website redesign or a new development project?<br>
Give us a bit of detail on your design project, and let us help!</p>
							<a class="lw-title link link--kukuri" href="https://www.maxburst.com/request-a-quote/" data-letters="START A PROJECT">START A PROJECT</a>
						</div>
						<div class="menu-container footer-menu">
							<ul id="menu-footer-menu" class="menu"><li id="menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-380"><a href="/portfolio/">Portfolio</a></li>
<li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-142"><a href="https://www.maxburst.com/services/">Services</a></li>
<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="https://www.maxburst.com/maxburst-web-design/">About Us</a></li>
<li id="menu-item-5893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5893"><a href="/case-studies/">Case Studies</a></li>
<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="https://www.maxburst.com/blog/">Blog</a></li>
</ul>						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-3">
						<div class="row">
							<div class="col-sm-12 locations">
								<ul>
																				<li>
												<h3 onclick="toggleItem(this)"><entity-tag itemscope="" itemtype="https://schema.org/Place"><entity-tag class="ec_4563" itemprop="name">New York</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=New%20York&amp;kgmid=/m/02_286"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q60"></entity-tag> City <entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Web Design</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Web%20Design&amp;kgmid=/m/086df"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag><span class="caret"></span></h3>
												<div class="hide-content ">
													<p>127 West 30th Street, 9th Floor #989<br>
<entity-tag itemscope="" itemtype="https://schema.org/Place"><entity-tag class="ec_4563" itemprop="name">New York, NY</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=New%20York%2C%20NY&amp;kgmid=/m/02_286"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q60"></entity-tag> 10001<br>
Phone: <a href="tel:12126511879">212.651.1879</a><br>
Toll free: <a href="tel:18889629932">888.962.9932</a><br>
Email: <a href="mailto:design@maxburst.com">design@<entity-tag itemscope="" itemtype="https://schema.org/Organization"><entity-tag class="ec_4563" itemprop="name">maxburst</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=maxburst&amp;kgmid=/g/11df1xq7_n"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag>.com</a></p>
												</div>
											</li>
																						<li>
												<h3 onclick="toggleItem(this)">Long Island <entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Web Design</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Web%20Design&amp;kgmid=/m/086df"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag><span class="caret"></span></h3>
												<div class="hide-content ">
													<p>399 Conklin Street, Suite 305<br>
<entity-tag itemscope="" itemtype="https://schema.org/Place"><entity-tag class="ec_4563" itemprop="name">Farmingdale</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Farmingdale&amp;kgmid=/m/0y28z"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q2737048"></entity-tag>, NY 11735<br>
Toll Free:&nbsp;<a href="tel:1-888-962-9932">888.962.9932</a><br>
Phone:&nbsp;<a href="tel:1-631-293-9100">631.293.9100</a><br>
Email:&nbsp;<a href="mailto:design@maxburst.com">design@<entity-tag itemscope="" itemtype="https://schema.org/Organization"><entity-tag class="ec_4563" itemprop="name">maxburst</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=maxburst&amp;kgmid=/g/11df1xq7_n"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag>.com</a></p>
												</div>
											</li>
																						<li>
												<h3 onclick="toggleItem(this)">Miami <entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Web Design</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Web%20Design&amp;kgmid=/m/086df"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag><span class="caret"></span></h3>
												<div class="hide-content ">
													<p>1110 Brickell Avenue, #400-43<br>
Miami, FL 33131<br>
Toll free:&nbsp;<a href="tel:1-888-962-9932">888.962.9932</a><br>
Email:&nbsp;<a class="ProsemirrorEditor-link" href="mailto:hello@maxburst.com">hello@<entity-tag itemscope="" itemtype="https://schema.org/Organization"><entity-tag class="ec_4563" itemprop="name">maxburst</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=maxburst&amp;kgmid=/g/11df1xq7_n"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag>.com</a></p>
												</div>
											</li>
																			</ul>
							</div>
						</div>
					</div>
					<!-- //desktop -->
					<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
						<div class="lets-work">
							<div class="lw-sub-title">Let's Work Together!</div>
							<p>Need a quote on a website redesign or a new development project?<br>
Give us a bit of detail on your design project, and let us help!</p>
							<a class="lw-title link link--kukuri" href="https://www.maxburst.com/request-a-quote/" data-letters="START A PROJECT">START A PROJECT</a>
						</div>
						<div class="menu-container footer-menu">
							<ul id="menu-footer-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-380"><a href="/portfolio/">Portfolio</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-142"><a href="https://www.maxburst.com/services/">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="https://www.maxburst.com/maxburst-web-design/">About Us</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5893"><a href="/case-studies/">Case Studies</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="https://www.maxburst.com/blog/">Blog</a></li>
</ul>						</div>
					</div>
					<div class="col-sm-3 col-xs-12">
						<div class="flex-row h100">
							<div class="menu-container footer-services-menu">
								<h3>Services</h3>
								<ul id="menu-services" class="menu"><li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="https://www.maxburst.com/services/web-design-company/">Custom <entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Web Design</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Web%20Design&amp;kgmid=/m/086df"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q190637"></entity-tag> Services</a></li>
<li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-76 current_page_item menu-item-131"><a href="https://www.maxburst.com/services/web-development-services/" aria-current="page"><entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Web Development</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Web%20Development&amp;kgmid=/m/02wdy8"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q386275"></entity-tag> Services</a></li>
<li id="menu-item-5751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5751"><a href="https://www.maxburst.com/services/company-identity/">Company Branding Identity</a></li>
<li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="https://www.maxburst.com/services/search-engine-marketing/"><entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Search Engine Marketing</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Search%20Engine%20Marketing&amp;kgmid=/m/06mw8r"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q846132"></entity-tag> Agency</a></li>
<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="https://www.maxburst.com/services/social-media/"><entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">Social Media</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=Social%20Media&amp;kgmid=/m/0fch0p"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q202833"></entity-tag></a></li>
<li id="menu-item-4955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4955"><a href="https://www.maxburst.com/services/local-search/">Local <entity-tag itemscope="" itemtype="https://schema.org/DefinedTerm"><entity-tag class="ec_4563" itemprop="name">SEO</entity-tag><link itemprop="sameAs" href="https://www.google.com/search?q=SEO&amp;kgmid=/m/019qb_"><link itemprop="sameAs" href="https://www.wikidata.org/wiki/Q180711"></entity-tag> Services</a></li>
<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="https://www.maxburst.com/services/media-buying/">Media Buying Agency</a></li>
</ul>							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-wpr-lazyrender="1" id="site-info" class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="fb-menu">
						<li><p>Copyright © 2024</p>
</li>
					</ul>
					<ul id="menu-support-menu" class="fb-menu inline-menu text-center"><li id="menu-item-5047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5047"><a href="https://www.maxburst.com/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-5051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5051"><a href="https://www.maxburst.com/terms-and-conditions-assumptions-agreement/">Terms</a></li>
<li id="menu-item-5066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5066"><a href="https://www.maxburst.com/faqs/">Frequently Asked Questions</a></li>
<li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140"><a target="_blank" href="https://maxburst.zendesk.com/hc/en-us/requests/new">Support</a></li>
</ul>					<ul id="menu-social-networks" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a target="_blank" href="https://www.facebook.com/maxburst"><img src="https://www.maxburst.com/wp-content/uploads/2023/07/facebook-logo-black.svg" alt="facebook" data-lazy-src="https://www.maxburst.com/wp-content/uploads/2023/07/facebook-logo-black.svg" data-ll-status="loaded" class="entered lazyloaded"><noscript><img src="https://www.maxburst.com/wp-content/uploads/2023/07/facebook-logo-black.svg" alt="facebook"/></noscript></a></li>
<li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a target="_blank" href="https://www.linkedin.com/company/maxburst-inc./"><img src="https://www.maxburst.com/wp-content/uploads/2023/07/linkedin-logo-black.svg" alt="linkdin" data-lazy-src="https://www.maxburst.com/wp-content/uploads/2023/07/linkedin-logo-black.svg" data-ll-status="loaded" class="entered lazyloaded"><noscript><img src="https://www.maxburst.com/wp-content/uploads/2023/07/linkedin-logo-black.svg" alt="linkdin"/></noscript></a></li>
<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a target="_blank" href="https://twitter.com/maxburst"><img src="https://www.maxburst.com/wp-content/uploads/2023/09/new_twitter.svg" alt="twitter" data-lazy-src="https://www.maxburst.com/wp-content/uploads/2023/09/new_twitter.svg" data-ll-status="loaded" class="entered lazyloaded"><noscript><img src="https://www.maxburst.com/wp-content/uploads/2023/09/new_twitter.svg" alt="twitter"/></noscript></a></li>
<li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a target="_blank" href="https://www.instagram.com/maxburst"><img src="https://www.maxburst.com/wp-content/uploads/2023/07/instagram-logo-black.svg" alt="instagram" data-lazy-src="https://www.maxburst.com/wp-content/uploads/2023/07/instagram-logo-black.svg" data-ll-status="loaded" class="entered lazyloaded"><noscript><img src="https://www.maxburst.com/wp-content/uploads/2023/07/instagram-logo-black.svg" alt="instagram"/></noscript></a></li>
</ul>				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .site-info -->
</footer>
