<footer class="bg-light mt-auto
py-3 container mx-auto mt-2 px-5
d-flex row footer">
  <div style="margin-top:0.5em"
  class="section container
    d-flex justify-content-between
    mx-auto text-muted
    container">
    <div class="footer-link-wrap">
      <span>❤️ Made with love by</span>
      <a class="logo gray-light" aria-label="Go to Doximity home"
      href="https://twitter.com/SrVidovic" target="_blank">
        Kriger
      </a>
    </div>
  </div>
  <div class="footer-link-wrap container
  d-flex justify-content-between
  mx-auto text-muted">
    <div class="col-1-3">
      <ul class="flex items-center cursor-pointer
    d-inline float-end list-inline mb-0
    text-1xl text-slate-500
    1dark:text-white">
        <li class="py-2 px-1 list-inline-item mr-0">
          <a href="/pricing">Pricing</a>
        </li>
        <li class="py-2 px-2 mb-0
          list-inline-item">
          <a href="/terms">Terms</a>
        </li>
        <li class="py-2 px-1 list-inline-item mr-0">
          <a href="/privacy">Privacy</a>
        </li>
        <li class="py-2 px-1 mb-0
          list-inline-item mr-1">
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
