<footer class="footer common-background--grey common-padding--bottom common-padding--top common-shape--top-white-up-left">
  <div class="footer__logo">
    <a href="/" aria-label="Ruby on Rails"></a>
  </div>
  <div class="footer__options">
    <ul>
      <li>
        <a href="/conduct">Conduct</a>
      </li>
      <li>
        <a href="/maintenance">Maintenance</a>
      </li>
      <li>
        <a href="/security">Security</a>
      </li>
      <li>
        <a href="/trademarks">Trademarks</a>
      </li>
      <li>
        <a href="https://opensource.org/licenses/MIT">License</a>
      </li>
    </ul>
  </div>
</footer>
