<section class="Section_section__FuI7l Profile_profile__DRTQQ" id="details" aria-labelledby="details-title" tabindex="-1">
  <div class="Profile_content__nk6uj">
    <div class="Profile_column__TSml5">
  <h3 class="Heading_heading__209rB Profile_title__ix51N"
  data-align="auto" data-weight="medium" data-level="3" data-visible="false" id="details-title">
  <span class="DecoderText_text__ZFBnw">
    <span class="VisuallyHidden_hidden__D_ZwH" data-hidden="true">
      Hi there</span>
      <span aria-hidden="true"></span>
    </span>
  </h3>
  <p class="" data-align="auto" data-size="l" data-weight="auto" data-visible="false">
    Expert Full-stack(<strong>Front-end Heavy</strong>)
    developer. My projects include React,
    Next.js, Vue, Flutter, React Native, Swift, UI/UX Design.
    Being comfortable with code allows me to
    rapidly prototype and validate experiences.
    If you’re interested in the tools and software I use check out my
    <a class="" href="/uses/">uses page</a>.
  </p>
  <p class="" data-align="auto" data-size="l"
  data-weight="auto" data-visible="false">
    In my spare time I like to practice Brazilian Jiu Jitsu, play video games, and
    <a class="" href="/projects/volkihar-knight/">
      make mods</a>.
    I’m always down for hearing about new projects,
    so feel free to drop me a line.
  </p>
  <a class="" data-secondary="true" data-icon="send"
  href="/contact/" data-visible="false">
  <svg width="24" height="24" viewBox="0 0 24 24"
  aria-hidden="true" class="" data-start="true">
    <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2 .01 7z"></path>
  </svg>
  <span class="">Send me a message</span>
  </a>
  </div>
  </div>
</section>
