<div class="w-full">
  <h1 style="margin-bottom:1em"
  class="text-3xl 1dark:text-white
  dark:text-slate-600">
    Get to know me,
About Me / Upoznaj me, o meni </h1>
  <div class="row" data-controller="dark-mode">
    <%= image_tag("Park.svg",
    data: { action: 'click->dark-mode#toggle'}) %>
  <p style="margin-top:1em; margin-bottom:1em"
    class="lead text-1xl text-slate-500
    block dateline">
    My name is Srđan Vidović,
    I am a software engineer living in Gradiška,
    Bosnia and Herzegovina. I plan to share
    my technology knowledge through this blog,
    most of which would be about
    <a href="https://www.ruby-lang.org/en/">Ruby</a> and
    <a href="https://rubyonrails.org/">Ruby on Rails</a>.
    I currently work as a software engineer in Banja Luka.
  </p>
  <p style="1margin-bottom:2em"
  class="lead text-1xl text-slate-500
  block dateline">
  With 6 years of experience in full-stack development,
  I specialize in building scalable applications
  and solving complex technical challenges.
  My passion lies in creating efficient and maintainable code
  and researching new
  technologies to provide innovative solutions.
  </p>
  <p style="margin-top:1.5em; margin-bottom:1.5em">/</p>
  <p style="margin-bottom:1em"
  class="lead text-1xl text-slate-500
  block dateline
  1dark:text-slate-400 1text-muted
  1dark:text-white 1dark:text-slate-500
  1dark:text-teal">Moje ime je Srđan Vidović,
  ja sam softverski inženjer koji živim u Gradišci,
  Bosna i Hercegovina. Planiram podijeliti
  svoja saznanja iz tehnologije putem ovog bloga,
  od kojih bi većina bila o
  <a href="https://www.ruby-lang.org/en/">Ruby</a> i
  <a href="https://rubyonrails.org/">Ruby on Rails</a>.
  Trenutno radim kao softverski inženjer u Banjaluci.
  </p>
  <p style="margin-bottom:2em"
  class="lead text-1xl text-slate-500
  block dateline">
  Sa 6 godina iskustva u full-stack razvoju,
  specijalizirao sam se za izgradnju skalabilnih aplikacija
  i rješavanje složenih tehničkih izazova.
  Moja strast leži u stvaranju efikasnog koda
  koji se može održavati i istraživanju novih
  tehnologija za pružanje inovativnih rješenja.
  </p>
  <%= image_tag("avatar.svg",
  data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <br>
</div>
