<h1 class="font-bold text-3xl
1text-pink-500
1text-purple-500
1text-indigo-500
1text-blue-500
1text-teal-500
1text-green-500
1text-yellow-500
text-orange-500
1text-red-500
1text-gray-500
1text-white
1text-black
1text-current
1text-transparent
">
  Public Hello world!</h1>
<div>
  <h1 class="font-bold text-4xl">Home</h1>
<div class="pos-header dpos-h">
  <div class="di-title">
    <span
class="headword hdb tw-bw dhw dpos-h_hw ">
      <span class="hw dhw">Manager</span>
    </span>
  </div>
  <div class="posgram dpos-g hdib lmr-5">
    <span class="pos dpos" title="A word that refers to a person, place, idea, event or thing.">noun</span>
    <span class="gram dgram">
      <a href="/help/codes.html">
        [ <span class="gc dgc">C</span> ]</a>
    </span>
  </div>
  <div></div>
  <span class="uk dpron-i ">
    <span class="region dreg">uk</span>
    <span class="daud">
      <audio class="hdn" preload="none" id="audio1" controlslist="nodownload">
        <div class="hdib" fallback="">
            <p>Your browser doesn't support HTML5 audio</p>
        </div>
        <source type="audio/mpeg" src="/media/english/uk_pron/u/ukm/ukmam/ukmammo009.mp3">
        <source type="audio/ogg" src="/media/english/uk_pron_ogg/u/ukm/ukmam/ukmammo009.ogg">
    </audio>
    <div title="Listen to the British English pronunciation"
class="i i-volume-up c_aud htc hdib hp hv-1
fon tcu tc-bd lmr-10 lpt-3 fs20 hv-3" onclick="audio1.load(); audio1.play();"
role="button" tabindex="0"></div>
  </span>
  <span class="pron dpron">/
    <span class="ipa dipa lpr-2 lpl-1">ˈmæn.ɪ.dʒə
      <span class="sp dsp">r</span>
    </span>/
  </span>
</span> <span class="us dpron-i "><span class="region dreg">us</span><span class="daud">
<audio class="hdn" preload="none" id="audio2" controlslist="nodownload">
        <div class="hdib" fallback="">
            <p>Your browser doesn't support HTML5 audio</p>
        </div>
        <source type="audio/mpeg" src="/media/english/us_pron/m/man/manag/manager.mp3">
        <source type="audio/ogg" src="/media/english/us_pron_ogg/m/man/manag/manager.ogg">
    </audio>
        <div title="Listen to the American English pronunciation" class="i i-volume-up c_aud htc hdib hp hv-1 fon tcu tc-bd lmr-10 lpt-3 fs20 hv-3" onclick="audio2.load(); audio2.play();" role="button" tabindex="0"></div>
</span><span class="pron dpron">/<span class="ipa dipa lpr-2 lpl-1">ˈmæn.ə.dʒɚ</span>/</span></span></div>
</div>
<div class="pos-header dpos-h"><div class="di-title"><span class="headword hdb tw-bw dhw dpos-h_hw "><span class="hw dhw">manager</span></span></div><div class="posgram dpos-g hdib lmr-5"><span class="pos dpos" title="A word that refers to a person, place, idea, event or thing.">noun</span> <span class="gram dgram"><a href="/help/codes.html">[ <span class="gc dgc">C</span> ]</a></span></div> <div></div><span class="uk dpron-i "><span class="region dreg">uk</span><span class="daud">
    <audio class="hdn" preload="none" id="audio1" controlslist="nodownload">
        <div class="hdib" fallback="">
            <p>Your browser doesn't support HTML5 audio</p>
        </div>
        <source type="audio/mpeg" src="/media/english/uk_pron/u/ukm/ukmam/ukmammo009.mp3">
        <source type="audio/ogg" src="/media/english/uk_pron_ogg/u/ukm/ukmam/ukmammo009.ogg">
    </audio>
        <div title="Listen to the British English pronunciation" class="i i-volume-up c_aud htc hdib hp hv-1 fon tcu tc-bd lmr-10 lpt-3 fs20 hv-3" onclick="audio1.load(); audio1.play();" role="button" tabindex="0"></div>
</span><span class="pron dpron">/<span class="ipa dipa lpr-2 lpl-1">ˈmæn.ɪ.dʒə<span class="sp dsp">r</span></span>/</span></span> <span class="us dpron-i "><span class="region dreg">us</span><span class="daud">
    <audio class="hdn" preload="none" id="audio2" controlslist="nodownload">
        <div class="hdib" fallback="">
            <p>Your browser doesn't support HTML5 audio</p>
        </div>
        <source type="audio/mpeg" src="/media/english/us_pron/m/man/manag/manager.mp3">
        <source type="audio/ogg" src="/media/english/us_pron_ogg/m/man/manag/manager.ogg">
    </audio>
        <div title="Listen to the American English pronunciation" class="i i-volume-up c_aud htc hdib hp hv-1 fon tcu tc-bd lmr-10 lpt-3 fs20 hv-3" onclick="audio2.load(); audio2.play();" role="button" tabindex="0"></div>
</span><span class="pron dpron">/
  <span class="ipa dipa lpr-2 lpl-1">ˈmæn.ə.dʒɚ</span>/
</span></span></div>
