<div>
  <h1 class="text-teal-600 font-bold
  text-3xl">
    What is Pricing?</h1>
  <br>
  <div data-controller="dark-mode">
    <%= image_tag("Procing.svg",
    data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <p style="margin-top:2em; margin-bottom:1.5em"
    class="mw-body-content">
Pricing is the process of determining what a company
will receive in exchange for a product or service.
It involves setting a monetary value that customers will pay
and encompasses various strategies and factors,
including cost of production, market demand,
competition, and overall business objectives.
  </p>
  <div data-controller="dark-mode">
    <%= image_tag("Iv_Ti.svg",
    data: { action: 'click->dark-mode#toggle'}) %>
  </div>
</div>
