<div class="w-full">
  <h1 class="text-2xl 1dark:text-white 1dark:text-slate-400
  text-teal-600 font-bold
  text-3xl">Privacy Policy</h1>
  <br>
  <div data-controller="dark-mode">
    <%= image_tag("Privacy.jpeg",
    data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <br>
  <p class="lead text-1xl text-slate-200
1dark:text-white
dark:text-slate-500">Use this for your Privacy Policy</p>
  <br />
</div>
