<div class="w-full">
  <h1 class="text-teal-600 font-bold
  text-3xl">
    What Are the Terms and Conditions and When Are They Needed?
  </h1>
  <br>
  <div data-controller="dark-mode">
    <%= image_tag("Terms.jpeg",
      data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <br>
  <p class="lead text-1xl text-slate-500
  1dark:text-white dark:text-teal
  dark:text-slate-500">Use this for your Terms of Service</p>
  <br>
</div>
