<nav class="navigation--top">
  <div class="navigation__inner">
    <a class="navigation__logo" href="/">
      <img src="https://rubycentral.org/assets/images/gem-logo--badge.svg?v=0287b1cec9">
    </a>
    <div class="navigation__list__wrapper">
      <button aria-controls="navigation__mobile-menu-trigger" aria-haspopup="true" class="navigation__mobile-menu-trigger closed" id="navigation__mobile-menu-trigger">
      </button>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/pages/home">Home</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/conferences/">Conferences</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/open-source/">Open Source</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/scholarships/">Scholarships</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/volunteer/">Volunteer</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/corporate-sponsorship/">Sponsorship</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/support/">Support Us</a>
        </li>
        <li class="navigation__item">
          <a href="https://store.rubycentral.org/">Shop</a>
        </li>
        <li class="navigation__item">
          <a href="https://rubycentral.org/news/">News</a>
        </li>
      </ul>
    </div>
    <div class="navigation__membership kg-button-card">
      <a class="kg-btn" href="#/portal/signup">Membership</a>
    </div>
  </div>
</nav>
