<a class="1nav-link active"
aria-current="page" href="/pages/pricing">Pricing</a>
<a class="1nav-link active"
aria-current="page" href="/pages/privacy">Privacy</a>

text-orange-500
<%= link_to 'Arts', arts_path,
class: "text-orange-500 1nav-link" %>
<%= link_to 'Lists', lists_path,
class: "text-orange-500 1nav-link" %>
<br>
<%= link_to 'Blogs', blogs_path,
class: "text-orange-500 1nav-link" %>
<%= link_to 'Novine', novines_path,
class: "text-orange-500 1nav-link" %>
